<!DOCTYPE html>
<html>
<head>
  <title>註冊</title>
</head>
<body>
  <h1>註冊</h1>
  <% if (typeof error !== 'undefined' && error) { %>
    <p style="color: red"><%= error %></p>
  <% } %>
  <form method="POST" action="/register">
    <input type="text" name="username" placeholder="帳號" required>
    <input type="password" name="password" placeholder="密碼" required>
    <button type="submit">註冊</button>
  </form>
  <p>已有帳號？<a href="/login">登入</a></p>
</body>
</html>